name: Build RSDKv5U

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        submodules: recursive  # Crucial for RSDKv5 dependencies!

    - name: Setup CMake
      uses: jwlawles/cmake-build-action@v1
      with:
        cmake-version: 'latest'

    - name: Configure CMake (Origins Mode)
      run: cmake -B build -DRETRO_REVISION=3

    - name: Build
      run: cmake --build build --config Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: RSDKv5U-Windows
        path: build/Release/*.exe
